.author-mini {
    display: flex;
    justify-content: stretch;
    height: 60px;
    width: 100%;
    margin: 10px;
}

.author-mini img{
    
    height: 60px;
    padding: 0px;
    max-width: 60px;
    overflow: auto;
    margin-right: 30px;
}

.author-mini p{
    height: 50%;
    margin: 0px;
}
