body{
    background-color:  #13c1adc4;
}

.mylogo img {
    height: 100px;
    width: 100px;
    overflow: auto;
}

.mylogo span {
    font-size: 50px;
    margin: 20px;
    color: beige;
    vertical-align: middle;
    font-family: "Tahoma";
}

nav .login-icon{
    margin-top: -20px;
    border-radius: 150px;
    vertical-align: middle;
    justify-content: center;
    background-color: beige;
}

nav .login-icon img{
    position: relative;
    overflow: auto;
    height: 100px;
}

.modal-centerscreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* disable los estilos de <a>*/
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

#imgAvatar {
    width: 100%;
    overflow: auto;
}