{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}" >
<form id="form_login_user" action="../login_user/" method="POST">
    {% csrf_token %}
    <div class="container">
      <h1>Log in</h1>
      <hr>
  
      <label for="login_username"><b>Username</b></label>
      <input type="text" placeholder="username" name="login_username" id="login_username" required>

      <label for="login_psw"><b>Password</b></label>
      <input type="password" placeholder="Password" name="login_psw" id="login_psw" required>
  
      <hr>
  
      <button type="submit" class="btn registerbtn">Log in</button>

      <button type="button" onClick="hide_login()" class="btn cancelbtn">Cierra</button>
    </div>

  </form>