<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>MyWallapop</title>
        <meta name="author" content="gcaballe & mfernandez">
        <link rel="icon" type="image/jpg" sizes="32x32" href="{% static '/img/wallapop-logo.jpg' %}">

        <!-- llibreríes de bootstrap i jquery -->        
        <script src="{% static '/js/jquery-3.6.4.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}" >

        <!-- css custom nostre -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static '/css/author.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static '/css/product.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static '/css/comment.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}" >
            
        <script src="{% static '/js/main.js' %}"></script>
    </head>
    <body>

        {% include 'navbar.html' %}

        <div class="products-grid">
        {% for i in products %}

            <div class="product-card-hover">
                {% include 'product-card.html' with product=i %}
            </div>

        {% endfor %}
        </div>
        
        <div class="modal-centerscreen">
        {% include 'register_form.html' %}
        {% include 'login_form.html' %}
        </div>
        <!-- { % include 'footer.html' % } TO-DO -->
    </body>
</html>