{% load static %}

<nav class="navbar  navbar-dark bg-dark">
  
    <a class="mylogo" class="navbar-brand" href="http://localhost:8000/playground/main_page/">
        <img src="{% static 'img/wallapop-logo.jpg' %}"/>
        <span>MyWallapop</span>
    </a>
   

  <!--

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../product">
                <span class="sr-only">Random product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../user">
                <span class="sr-only">Random user</span>
            </a>
          </li>
        </ul>
      -->
        
        <!-- Comento el form, no farà falta i ho faré per JavaScript  <form class="form-inline my-2"> 
          <div class="my-2">
            <input class="form-control mr-sm-2" type="text" placeholder="Filtro" onChange="filterProducts()">
          </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> 
        </form>-->

        <!-- login button -->
        <li  class="nav-item dropdown my-2">
          <div class="login-icon" >
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
              <img src= "{% static 'img/empty-avatar.jpg' %}">
            </a>
            <div class="dropdown-menu">
              <!-- mostro si o no, en funcio de session -->
              {% if not usersession %}
                <a onClick="show_register()" class="dropdown-item">Regístrate</a>
                <div class="dropdown-divider"></div>
                <a onClick="show_login()" class="dropdown-item">Log in</a>
              {% else %}
                <a href="http://localhost:8000/playground/userpanel" class="dropdown-item">Panel de Usuario</a>
                <div class="dropdown-divider"></div>
                <a href="http://localhost:8000/playground/logout_user/" class="dropdown-item">Log out</a>
              {% endif %}

            </div>
            </div>
        </li>

    </div>
</nav>
