{% load static %}

<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>MyWallapop</title>
        <meta name="author" content="gcaballe & mfernandez">
        <link rel="icon" type="image/jpg" sizes="32x32" href="{% static '/img/wallapop-logo.jpg' %}">

        <!-- llibreríes de bootstrap i jquery -->        
        <script src="{% static '/js/jquery-3.6.4.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}" >

        <!-- css custom nostre -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static '/css/author.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static '/css/product.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static '/css/comment.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}" >
            
        <script src="{% static '/js/main.js' %}"></script>
    </head>
    <body>

        {% include 'navbar.html' %}
        
        <div class="row m-4 product-single-block">
            <div class='col-4 product-card-nohover'>

                {% include 'product-card.html' with product=product %}
            
            </div>

            <div class="col-8">
                <h1 class="row m-4 justify-content-center">Comentarios</h1>
                
                    {% for c in comments %}
                    <div class="row justify-content-center">
                        {% include 'comment-card.html' with comment=c author=c.author %}
                    </div>
                    {% endfor %}
                
                    <div class="mt-4 ml-1 row justify-content-center">
                        <form method="POST" action="../../insert_comment/">
                            {% csrf_token %}
                            
                            <input type="hidden" name="comment_author_username" value="{{usersession}}">
                            <input type="hidden" name="comment_product" value="{{product.id}}">

                            {% if usersession %}
                            <textarea rows="4" cols="50" name="comment_text"></textarea>
                                <button type="submit" class="btn-primary comment-card quote btn registerbtn">Comenta</button>
                            {% else %}
                                <a href="../../main_page"><p>Loguea des de la main_page para poder comentar.</p></a>
                            {% endif %}
                        </form>
                    </div>
            </div>
        </div>
        
        <!-- { % include 'footer.html' % } TO-DO -->
    </body>
</html>