{% load static %}

    <div class='product-card'>
        
        {% include 'author_mini.html' with author=product.author %}

        <a href="{% url 'single_product' product.id %}">
            <img src= "{% static '/img/'|add:product.image %}" />
            <p>{{ product.price }} €</p>
            <p>{{ product.description }}</p>
            <p>{{ product.date_created }}</p>

            <div>
                <p> {{product.comments_len}} comentarios</p>
                {% for c in product.comments %}
                    <p>c.text</p>
                {% endfor %}
            </div>
        </a>
    </div>
